* {
    margin: 0;
}

body {
    display: flex;
    font-family: 'Andale Mono';
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: white;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 85px 85px 85px 85x;
    min-width: 345px;
    width: 345px;
    height: 100%;
}

.results {
    background-color: rgb(223, 245, 220);
    grid-column-start: 2;
    grid-column-end: 5;
    justify-content: right;
}

.number {
    background-color: limegreen;
}

.action {
    background-color: rgb(161, 207, 161);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.click-lighten { /* for button - added to DOM through main.js */
    background-color: lightgreen;
}